---
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/BioPhotov2.png
  actions:
    - label: "Welcome"
      url: /about/
excerpt: "Haptics and XR Researcher"
feature_row:
  - image_path: /assets/images/EvieGrad2.jpg
    alt: "customizable"
    title: "Resume"
    excerpt: "One page Resume"
    url: "/assets/files/Jasmin_Palmer_Resume.pdf"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/EvieGrad2.jpg
    alt: "fully responsive"
    title: "CV"
    excerpt: "Multi-page CV with publication record"
    url: "/assets/files/Jasmin_Palmer_CV.pdf"
    btn_class: "btn--primary"
    btn_label: "Learn More"
---

{% include feature_row id="feature_row" %}


<!--- image_path: /assets/images/EvieGrad2.jpg
  alt: "100% free"
  title: "100% free"
  excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it... whatever!"
  url: "#test-link"
  btn_class: "btn--primary"
  btn_label: "Learn more"-->
<!-----
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/BioPhotov2.png
  actions:
    - label: "Welcome"
      url: /about/
excerpt: "Haptics &amp XR Researcher"
intro:
  - excerpt: ""
---

{% include feature_row id="intro" type="center" %}-->
