---
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/BioPhotov2.png
  actions:
    - label: "Welcome"
      url: /about/
excerpt: "Haptics & XR Researcher"

feature_row_custom:
  - image_path: /assets/images/resumeIcon.png
    alt: "Resume"
    title: "Resume"
    url: "/assets/files/Jasmin_Palmer_Resume.pdf"
    btn_class: "btn--primary"
    btn_label: "One page resume"

  - image_path: /assets/images/cvIcon.png
    alt: "CV"
    title: "CV"
    url: "/assets/files/Jasmin_Palmer_CV.pdf"
    btn_class: "btn--primary"
    btn_label: "Multi-page CV with publication record"

  - image_path: /assets/images/newsIcon.png
    alt: "News"
    title: "News"
    url: "/news/"
    btn_class: "btn--primary"
    btn_label: "Extracurricular activities & achievements"
---

{% include feature_row_custom id="feature_row_custom" %}


<!--- image_path: /assets/images/EvieGrad2.jpg
  alt: "100% free"
  title: "100% free"
  excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it... whatever!"
  url: "#test-link"
  btn_class: "btn--primary"
  btn_label: "Learn more"-->
<!-----
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/BioPhotov2.png
  actions:
    - label: "Welcome"
      url: /about/
excerpt: "Haptics &amp XR Researcher"
intro:
  - excerpt: ""
---

{% include feature_row id="intro" type="center" %}-->
